
.container__home {
    width: 100%;
    height: auto;
    position: relative;
}

.container__home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 218, 180);
    background: linear-gradient(90deg, rgba(255, 218, 180, 1) 0%, rgba(249, 160, 67, 1) 50%, rgba(255, 130, 0, 1) 100%);
    filter: blur(4px); /* Aplicamos el filtro de desenfoque al pseudoelemento */
    z-index: -1; /* Colocamos el pseudoelemento detrás del contenido */
}
header{
    /* background-color: #ffffff8b; */
    padding: 30px 20px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
.container__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container__list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}


.container__title{
    color: rgb(246, 164, 164)545;
    width: 100%;
    padding: 40px;
    text-align: center;
}
.title{
    color: #6a4a31;
    width: 100%;
}

.container__logo {
    width: 50%;
}
.home__logo{
    width: 100%;
    text-align: center;
}
.item__name{
    color: #ffcea8;
    padding: 1px;
    width: 50%;
    text-align: center;
}

.item__link{
    color: #ffcea8;
    padding: 1px;
    width: 50%;
    text-align: center;
}


.item__link:hover{
    color: white;
    font-size: 18px;
    font-weight: bold;
}


